html {
	box-sizing: border-box;
	min-height: 100%;
	margin: 0;
}

body {
	min-height: 100%;
	font-family: 'Poppins', sans-serif;
	color: #ffffff;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body,
p,
h1,
h2,
h3 {
	margin: 0;
}

select,
button,
textarea {
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	border: none;
	outline: 0;
	font: inherit;
}

.hero {
	width: 100%;
	min-height: 100vh;
	/* fallback for old browsers */
	background: #36D1DC;
	/* Chrome 10-25, Safari 5.1-6 */
	background: -webkit-linear-gradient(to bottom, #5B86E5, #36D1DC);
	/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	background: linear-gradient(to bottom, #5B86E5, #36D1DC);
	display: flex;
	justify-content: center;
	align-items: center;
}

.hero__container {
	padding: 15px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 25px;
	max-width: 630px;
	width: 100%;
}

.hero__title {
	font-size: 40px;
	font-weight: 500;
	text-align: center;
}

.hero__title span {
	color: #db2b4a;
	font-weight: 800;
}

.hero__text {
	aspect-ratio: 2.4;
	width: 100%;
	background-color: #403d84;
	font-size: 16px;
	padding: 20px;
	border-radius: 12px;
	resize: none;
	color: #dddddd;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.hero__text::placeholder {
	color: currentColor;
}

.hero__actions {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	gap: 15px;
}

@media (max-width: 600px) {
	.hero__actions {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
	}

	.hero__button {
		width: 100%;
	}

	.hero__button:nth-child(2n-1) {
		justify-self: end;
	}
}

.hero__button {
	background-color: #db2b4a;
	display: inline-block;
	padding: 12px 30px 12px 50px;
	max-width: 140px;
	border-radius: 12px;
	color: inherit;
	cursor: pointer;
	user-select: none;
	-webkit-user-select: none;
	transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
	will-change: transform;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
	background: no-repeat left 30px center / 16px, #db2b4a;
}

.hero__button--speak {
	background-image: url('./icons/play-icon.svg');
}

.hero__button--cancel {
	background-image: url('./icons/cancel-icon.svg');
}

.hero__button--pause {
	background-image: url('./icons/pause-icon.svg');
}

.hero__button--resume {
	background-image: url('./icons/resume-icon.svg');
}

.hero__button:hover {
	box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
	transform: translateY(-2px);
}

.hero__button:active {
	box-shadow: none;
	transform: translateY(0);
}

.hero__filter {
	display: flex;
	width: 100%;
}

.hero__select {
	flex: 1 1 auto;
	color: inherit;
	border-radius: 12px;
	height: 42px;
	width: 20px;
	padding: 12px 20px;
	cursor: pointer;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
	background: url('./icons/dropdown-arrow.svg') no-repeat right 10px center / 16px, #403d84;
}